In [1]:
import pandas as pd
import sqlite3

In [3]:

connection =sqlite3.connect('./Data/Amazon_food_review/database.sqlite')
data = pd.read_sql_query("SELECT * FROM Reviews", connection)
data.head(5)

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,1350777600,Great taffy,Great taffy at a great price. There was a wid...

In [5]:
data_score_notThree = pd.read_sql_query("Select * from Reviews where Score != 3",connection)

In [6]:
data_score_notThree.head(5)

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,1350777600,Great taffy,Great taffy at a great price. There was a wid...

In [7]:
data_score_notThree.shape

(525814, 10)

In [8]:
data_summary1 = pd.read_sql_query("select * from reviews where Score= 1",connection)
data_summary1.shape

(52268, 10)

In [10]:
data_summary2 = pd.read_sql_query("select * from reviews where Score= 2",connection)
print(data_summary2.shape)
data_summary3 = pd.read_sql_query("select * from reviews where Score= 3",connection)
print(data_summary3.shape)
data_summary4 = pd.read_sql_query("select * from reviews where Score= 4",connection)
print(data_summary4.shape)
data_summary5 = pd.read_sql_query("select * from reviews where Score= 5",connection)
print(data_summary5.shape)
data_summary6 = pd.read_sql_query("select * from reviews where Score= 6",connection)
print(data_summary6.shape)
data_summary7 = pd.read_sql_query("select * from reviews where Score= 7",connection)
print(data_summary7.shape)

(29769, 10)
(42640, 10)
(80655, 10)
(363122, 10)
(0, 10)
(0, 10)

In [13]:
data_dist_profileName = pd.read_sql_query("Select distinct ProfileName from Reviews", connection)
print(data_dist_profileName.shape)
data_dist_profileName.head(10)

(218418, 1)

                       ProfileName
0                       delmartian
1                           dll pa
2  Natalia Corres "Natalia Corres"
3                             Karl
4    Michael D. Bigham "M. Wassir"
5                   Twoapennything
6                David C. Sullivan
7               Pamela G. Williams
8                         R. James
9                    Carol A. Reed

In [14]:
data_orderBy  = pd.read_sql_query("select * from Reviews where Score =5 Order by Time ASC",connection)
data_orderBy.head(10)

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,150524,0006641040,ACITT7DI6IDDL,shari zychinski,0,0,5,939340800,EVERY book is educational,this witty little book makes my son laugh at l...
1,150501,0006641040,AJ46FKXOVC7NR,Nicholas A Mesiano,2,2,5,940809600,This whole series is great way to spend time w...,I can remember seeing the show when it aired o...
2,451856,B00004CXX9,AIUWLEQ1ADEG5,Elizabeth Medina,0,0,5,944092800,Entertainingl Funny!,Beetlejuice is a well written movie ..... ever...
3,230285,B00004RYGX,A344SMIA5JECGM,Vincent P. Ross,1,2,5,944438400,A modern day fairy tale,"A twist of rumplestiskin captured on film, sta..."
4,374359,B00004CI84,A344SMIA5JECGM,Vincent P. Ross,1,2,5,944438400,A modern day fairy tale,"A twist of rumplestiskin captured on film, sta..."
5,451878,B00004CXX9,A344SMIA5JECGM,Vincent P. Ross,1,2,5,944438400,A modern day fairy tale,"A twist of rumplestiskin captured on film, sta..."
6,451855,B00004CXX9,AJH6LUC1UT1ON,The Phantom of the Opera,0,0,5,946857600,FANTASTIC!,Beetlejuice is an excellent and funny movie. K...
7,230348,B00004RYGX,A1048CYU0OV4O8,Judy L. Eans,2,2,5,947376000,GREAT,THIS IS ONE MOVIE THAT SHOULD BE IN YOUR MOVIE...
8,374422,B00004CI84,A1048CYU0OV4O8,Judy L. Eans,2,2,5,947376000,GREAT,THIS IS ONE MOVIE THAT SHOULD BE IN YOUR MOVIE...
9,451949,B00004CXX9,A1048CYU0OV4O8,Judy L. Eans,2,2,5,947376000,GREAT,THIS IS ONE MOVIE THAT SHOULD BE IN YOUR MOVIE...

In [15]:
data_groupBy = pd.read_sql_query("Select Score, Count(*) from Reviews Group by Score", connection)
data_groupBy.head(10)

   Score  Count(*)
0      1     52268
1      2     29769
2      3     42640
3      4     80655
4      5    363122

In [16]:
data_groupBy2 = pd.read_sql_query("select ProfileName, AVG(Score) from Reviews group by ProfileName", connection)
data_groupBy2.head(10)

                                   ProfileName  AVG(Score)
0                                                    3.0
1                                                  5.0
2                                                5.0
3                                :Jury Duty:         4.0
4            ! MR. KNOW IT ALL  ;-b "DR SHOCK"         3.0
5  ! Metamorpho ;) "Reflective and Wiser Seer"         5.0
6                                          !!!         3.0
7                            !AmY!K! "!AmY!K!"         5.0
8                                    !Mamamia!         2.0
9                               "Bondo" "Paul"         5.0

In [17]:
data_groupBy3 = pd.read_sql_query("Select ProfileName, AVG(Score) from Reviews where ProfileName = 'Elizabeth Medina' Group by ProfileName", connection)

In [18]:
data_groupBy3.head(10)

        ProfileName  AVG(Score)
0  Elizabeth Medina         5.0

In [21]:
data_having = pd.read_sql_query("select ProfileName, AVG(Score) from Reviews group By ProfileName having AVG(Score) > 3", connection)
data_having.head(20)

                                    ProfileName  AVG(Score)
0                                                   5.0
1                                                 5.0
2                                 :Jury Duty:         4.0
3   ! Metamorpho ;) "Reflective and Wiser Seer"         5.0
4                             !AmY!K! "!AmY!K!"         5.0
5                                "Bondo" "Paul"         5.0
6                         "Let them read books"         5.0
7                                   "all4gizmo"         5.0
8                              "aussiebeermatt"         4.0
9                                      "boycat"         5.0
10                                  "brandi756"         5.0
11                                  "bungfritz"         5.0
12                                   "dmab6395"         5.0
13                                     "finnao"         5.0
14                                    "gibraud"         5.0
15                    "insolent_shoeshine_grrl"         5.0
16                                   "kgremill"         5.0
17                                    "lenbone"         5.0
18                                  "lisah_007"         5.0
19                       "louandchrisbooksplus"         5.0

In [23]:
data_And = pd.read_sql_query("select * from Reviews where Score > 3 AND Score < 5", connection)
data_And.head(20)

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
1,6,B006K2ZZ7K,ADT0SRK1MGOEU,Twoapennything,0,0,4,1342051200,Nice Taffy,I got a wild hair for taffy and ordered this f...
2,14,B001GVISJM,A18ECVX2RJ7HUE,"willie ""roadie""",2,2,4,1288915200,fresh and greasy!,good flavor! these came securely packed... the...
3,28,B001GVISJM,AAAS38B98HMIK,Heather Dube,0,1,4,1331856000,Great Bargain for the Price,I was so glad Amazon carried these batteries. ...
4,33,B001EO5QW8,AOVROBZ8BNTP7,S. Potter,19,19,4,1163376000,Best of the Instant Oatmeals,McCann's Instant Oatmeal is great if you must ...
5,34,B001EO5QW8,A3PMM0NFVEJGK9,"Megan ""Bad at Nicknames""",13,13,4,1166313600,Good Instant,This is a good instant oatmeal from the best o...
6,36,B001EO5QW8,A2CI0RLADCRKPF,T. J. Ryan,3,3,4,1210464000,satisfying,"McCann's Instant Irish Oatmeal, Variety Pack o..."
7,39,B001EO5QW8,A2GHZ2UTV2B0CD,JERRY REITH,0,0,4,1350777600,GOOD WAY TO START THE DAY....,I WAS VISITING MY FRIEND NATE THE OTHER MORNIN...
8,49,B001EO5QW8,ALOR97KTZTK1P,knitty pants,1,2,4,1191715200,Very good but next time I won't order the Vari...,I really like the Maple and Brown Sugar flavor...
9,53,B000G6RPMY,A9L6L5H9BPEBO,Edwin C. Pauzer,1,1,4,1348876800,You'll go nuts over Ass-Kickin' Peanuts.,This wasn't in stock the last time I looked. I...
10,55,B002GWHC0G,A1ND7WC5LXOU48,"David Belton ""Proteus 1""",2,2,4,1322438400,Roasts up a smooth brew,I roast at home with a stove-top popcorn poppe...
11,82,B0066DMI6Y,AZLONLC8OZPEC,John W. Hollis,1,1,4,1324598400,Great,Great gift for all ages! I purchased these gia...
12,102,B004K2IHUO,A3D1TXE98KRKYO,"Danny ""The Student""",2,3,4,1256515200,Great Support,Arrived slightly thawed. My parents wouldn't a...
13,103,B004K2IHUO,AVCA516CFZ9HF,S. Fowler,0,0,4,1335139200,TART!,The crust on these tarts are perfect. My husb...
14,128,B003OB0IB8,A34UG2TNXIL0Y,Austin H.,4,4,4,1325808000,Tastes great. Love Hot & Spicy. Bad price here.,I've been a fan of Hot & Spicy Maruchan Ramen ...
15,136,B003OB0IB8,A2BZNXMV0LC7OE,Alanna,0,0,4,1333756800,"Tastes great, but is cheaper locally.",I love this flavor of ramen! I don't eat other...
16,141,B001GVISJW,ARS5Q7LR6HWPG,"N. Pine ""pcone""",0,0,4,1314489600,Nice snack,I bought this for our office to give people so...
17,142,B001GVISJW,A2YIO225BTKVPU,"Angel_Boy ""Treat the people around you the wa...",0,0,4,1301788800,Good Licorice,Twizzlers brand licorice is much better than t...
18,153,B005P0HHGK,AISCBGJRPPZ5G,"KT ""loves to read""",0,0,4,1326585600,tastes good,Got this for my brother who is on Jorge Cruise...
19,163,B000ITVLE2,A6Y8N2GHDH0ZO,Matty,0,0,4,1348272000,Not Bad,I'm not familiar with the Safcol brand but bei...

In [24]:
data_OR = pd.read_sql_query("Select * from Reviews where Score = 2 Or Score =4", connection)
data_OR.head(10)

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
1,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
2,6,B006K2ZZ7K,ADT0SRK1MGOEU,Twoapennything,0,0,4,1342051200,Nice Taffy,I got a wild hair for taffy and ordered this f...
3,14,B001GVISJM,A18ECVX2RJ7HUE,"willie ""roadie""",2,2,4,1288915200,fresh and greasy!,good flavor! these came securely packed... the...
4,17,B001GVISJM,A3KLWF6WQ5BNYO,Erica Neathery,0,0,2,1348099200,poor taste,I love eating them and they are good for watch...
5,28,B001GVISJM,AAAS38B98HMIK,Heather Dube,0,1,4,1331856000,Great Bargain for the Price,I was so glad Amazon carried these batteries. ...
6,33,B001EO5QW8,AOVROBZ8BNTP7,S. Potter,19,19,4,1163376000,Best of the Instant Oatmeals,McCann's Instant Oatmeal is great if you must ...
7,34,B001EO5QW8,A3PMM0NFVEJGK9,"Megan ""Bad at Nicknames""",13,13,4,1166313600,Good Instant,This is a good instant oatmeal from the best o...
8,36,B001EO5QW8,A2CI0RLADCRKPF,T. J. Ryan,3,3,4,1210464000,satisfying,"McCann's Instant Irish Oatmeal, Variety Pack o..."
9,39,B001EO5QW8,A2GHZ2UTV2B0CD,JERRY REITH,0,0,4,1350777600,GOOD WAY TO START THE DAY....,I WAS VISITING MY FRIEND NATE THE OTHER MORNIN...

In [26]:
data_And_OR = pd.read_sql_query("Select * from Reviews where Score > 1 And Score < 4 OR Score =5", connection)
data_And_OR.head(10)

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
2,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,1350777600,Great taffy,Great taffy at a great price. There was a wid...
3,7,B006K2ZZ7K,A1SP2KVKFXXRU1,David C. Sullivan,0,0,5,1340150400,Great! Just as good as the expensive brands!,This saltwater taffy had great flavors and was...
4,8,B006K2ZZ7K,A3JRGQVEQN31IQ,Pamela G. Williams,0,0,5,1336003200,"Wonderful, tasty taffy",This taffy is so good. It is very soft and ch...
5,9,B000E7L2R4,A1MZYO9TZK0BBI,R. James,1,1,5,1322006400,Yay Barley,Right now I'm mostly just sprouting this so my...
6,10,B00171APVA,A21BT40VZCCYT4,Carol A. Reed,0,0,5,1351209600,Healthy Dog Food,This is a very healthy dog food. Good for thei...
7,11,B0001PB9FE,A3HDKO7OW0QNK4,Canadian Fan,1,1,5,1107820800,The Best Hot Sauce in the World,I don't know if it's the cactus or the tequila...
8,12,B0009XLVG0,A2725IB4YY9JEB,"A Poeng ""SparkyGoHome""",4,4,5,1282867200,"My cats LOVE this ""diet"" food better than thei...",One of my boys needed to lose some weight and ...
9,15,B001GVISJM,A2MUGFV2TDQ47K,"Lynrie ""Oh HELL no""",4,5,5,1268352000,Strawberry Twizzlers - Yummy,The Strawberry Twizzlers are my guilty pleasur...

In [27]:
data_Like = pd.read_sql_query("Select ProfileName, Score from Reviews where ProfileName Like 'A%' ", connection)
data_Like.head(10)

                ProfileName  Score
0    A Poeng "SparkyGoHome"      5
1  Abby Chase "gluten free"      5
2    amateur amazon shopper      5
3                     Ash52      5
4          Amazon-tron 3000      5
5             Adam E. Smith      5
6                      Aldo      5
7                     Alfbo      5
8             Anne Kirkwood      5
9                 Austin H.      4

In [28]:
data_Like2 = pd.read_sql_query("Select ProfileName, AVG(Score) from Reviews where ProfileName Like 'A%' group by ProfileName", connection)
data_Like2.head(10)

              ProfileName  AVG(Score)
0                       A    3.369231
1         A  Web "A  Web"    4.500000
2                A  buyer    3.000000
3                   A "A"    5.000000
4             A "CA Girl"    1.000000
5           A "beachgirl"    5.000000
6  A 10-year old customer    5.000000
7                A Arnold    5.000000
8                     A B    2.000000
9          A Baker Person    5.000000

In [29]:
data_Like3  = pd.read_sql_query("Select Summary, Score from Reviews where Summary Like 'Good%' ", connection)
data_Like3.head(10)

                         Summary  Score
0          Good Quality Dog Food      5
1                   Good Instant      4
2  GOOD WAY TO START THE DAY....      4
3             Good Hot Breakfast      5
4                           good      5
5                           Good      5
6          Good healthy dog food      5
7            Good for Feline UTI      5
8                  Good Licorice      4
9           Good anytime hot tea      5

In [30]:
data_IN = pd.read_sql_query("Select * from Reviews where Score IN (1,5)", connection)
data_IN.head(10)

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,1350777600,Great taffy,Great taffy at a great price. There was a wid...
3,7,B006K2ZZ7K,A1SP2KVKFXXRU1,David C. Sullivan,0,0,5,1340150400,Great! Just as good as the expensive brands!,This saltwater taffy had great flavors and was...
4,8,B006K2ZZ7K,A3JRGQVEQN31IQ,Pamela G. Williams,0,0,5,1336003200,"Wonderful, tasty taffy",This taffy is so good. It is very soft and ch...
5,9,B000E7L2R4,A1MZYO9TZK0BBI,R. James,1,1,5,1322006400,Yay Barley,Right now I'm mostly just sprouting this so my...
6,10,B00171APVA,A21BT40VZCCYT4,Carol A. Reed,0,0,5,1351209600,Healthy Dog Food,This is a very healthy dog food. Good for thei...
7,11,B0001PB9FE,A3HDKO7OW0QNK4,Canadian Fan,1,1,5,1107820800,The Best Hot Sauce in the World,I don't know if it's the cactus or the tequila...
8,12,B0009XLVG0,A2725IB4YY9JEB,"A Poeng ""SparkyGoHome""",4,4,5,1282867200,"My cats LOVE this ""diet"" food better than thei...",One of my boys needed to lose some weight and ...
9,13,B0009XLVG0,A327PCT23YH90,LT,1,1,1,1339545600,My Cats Are Not Fans of the New Food,My cats have been happily eating Felidae Plati...

In [32]:
data_ISNULL = pd.read_sql_query("Select * from Reviews where Score IS NULL ", connection)
data_ISNULL.head(10)

Empty DataFrame
Columns: [Id, ProductId, UserId, ProfileName, HelpfulnessNumerator, HelpfulnessDenominator, Score, Time, Summary, Text]
Index: []

In [33]:
data_ISNOTNULL = pd.read_sql_query("Select * from Reviews where Score IS NOT NULL", connection)
data_ISNOTNULL.head(5)

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,1350777600,Great taffy,Great taffy at a great price. There was a wid...

In [34]:
data_Between = pd.read_sql_query("Select * from Reviews where Score Between 2 AND 4", connection)
data_Between.head(7)

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
1,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
2,6,B006K2ZZ7K,ADT0SRK1MGOEU,Twoapennything,0,0,4,1342051200,Nice Taffy,I got a wild hair for taffy and ordered this f...
3,14,B001GVISJM,A18ECVX2RJ7HUE,"willie ""roadie""",2,2,4,1288915200,fresh and greasy!,good flavor! these came securely packed... the...
4,17,B001GVISJM,A3KLWF6WQ5BNYO,Erica Neathery,0,0,2,1348099200,poor taste,I love eating them and they are good for watch...
5,28,B001GVISJM,AAAS38B98HMIK,Heather Dube,0,1,4,1331856000,Great Bargain for the Price,I was so glad Amazon carried these batteries. ...
6,33,B001EO5QW8,AOVROBZ8BNTP7,S. Potter,19,19,4,1163376000,Best of the Instant Oatmeals,McCann's Instant Oatmeal is great if you must ...